*~
*.o
.config
.unpacked
.gdb_history
GPATH
GRTAGS
GSYMS
GTAGS
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
merecat.service
missing
stamp-h1
test-driver
Makefile
Makefile.in
