body {
   text-align: center; /*For IE6 Shenanigans*/
}

h1 {
    text-decoration: underline;
}

img {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
    width: 75%; height: auto;
}

#wrapper {
    width:      640px;
    padding:    1em;
    text-align: left;

    position: absolute;
    top:      0;
    bottom:   0;
    left:     0;
    right:    0;
    margin:   2em auto;

    background-color: #99cc99;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

