body {
    background-color:#f2f1f0;
    font-family: sans-serif;
    font-size: 110%;     /* flexible baseline */
    line-height: 1.2;
    text-align: center; /*For IE6 Shenanigans*/
}

h1 {
    font-size: 1.7em;
    font-weight: normal;
    border-bottom: 1px solid #f2f1f0;
}

h2 {
    border-bottom: 1px solid #f2f1f0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: darkslategray;
}

p {
    text-align: justify;
}

pre {
    font-family: monospace;
    font-size:   0.9em;
}

address {
    border-top: 1px solid #f2f1f0;
    margin-top: 1em;
}

img {
    display:       block;
    margin-left:   auto;
    margin-right:  auto;
    border-radius: 10px;
    border:        1px solid #c8c5c2;
}

dl.config dt {
    font-family: monospace;
}

dl.config dd {
    text-align: justify;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
  clear: both;
}

/* Man pages */
table.head, table.foot { width: 100%; }
table.foot { margin: 2ex 0ex; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
.Nm > tbody > tr > td { vertical-align: text-top; }
div.Pp { margin: 1ex 0ex; }
div.Nd, div.Bf, div.Op { display: inline; }
span.Pa, span.Ad { font-style: italic; }
span.Ms { font-weight: bold; }
dl.Bl-diag > dt { font-weight: bold; }
code.Nm, code.Fl, code.Cm, code.Ic, code.In, code.Fd, code.Fn,
code.Cd { font-weight: bold; font-family: inherit; }

@media screen and (max-width: 1023px) {
    #wrapper {
	width:      80%;
	text-align: left;

	padding:  0.5em;
	margin:   0.5em auto;

	border-radius: 10px;
	border:        1px solid #c8c5c2;

	background-color: white;
    }
    #content {
    }
}

@media screen and (min-width: 1024px) {
    #wrapper {
	width:      60%;
	text-align: left;

	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	padding:  1.5em;

	margin-top:   20px;
	margin-bottom:30px;
	margin-right: auto;
	margin-left:  auto;

	border-radius: 10px;
	border:        1px solid #c8c5c2;

	background-color: white;
	box-shadow: 1px 1px 10px #BBB;
    }

    #right {
	float: right;
	width:  49%;
    }

    #left {
	float: left;
	width:  49%;
    }
}
