Source: merecat
Section: web
Priority: optional
Maintainer: Joachim Wiberg <troglobit@gmail.com>
Build-Depends: debhelper (>= 10), systemd, pkg-config, libconfuse-dev, libssl-dev, zlib1g-dev
Standards-Version: 4.3.0
Homepage: https://merecat.troglobit.com
Vcs-Browser: https://github.com/troglobit/merecat
Vcs-Git: https://github.com/troglobit/merecat.git

Package: merecat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: httpd, httpd-cgi
Conflicts: apache2-utils
Recommends: libcgi-pm-perl, php-cgi
Suggests: libcgi-fast-perl
Description: Embedded web server
 Merecat is a simple web server based on Jef Poskanzer's thttpd.
 It supports all basic features required for most use-cases. The
 most prominent features are probably HTTPS, using OpenSSL, PHP,
 multiple servers with HTTP redirect support, redirect from HTTP
 to HTTPS, virtual hosts, and the URL-traffic-based throttling.
 .
 Its small footprint makes it is suitable for small and embedded
 systems.
